Repository yndajas/qgjam-2023: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, sort-package-json --check

Lint JSON
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
  bun.lockb
  package.json
  yarn.lock
Due: prettier --check, sort-package-json --check

Add display settings
  project.godot
Due: none

Set default texture filter to nearest
  project.godot
Due: none

Remove gravity
  project.godot
Due: none

Add custom input map actions
  TODO.md
  project.godot
Due: prettier --check

Add todo prompt to game over state
  TODO.md
Due: prettier --check

Add pause state stretch goal
  TODO.md
Due: prettier --check

Add player and main scenes
  TODO.md
  main.tscn
  scenes/player.tscn
Due: prettier --check

Default to 1280/720 viewport
  project.godot
Due: none

Set default clear colour to dark blue
  project.godot
Due: none

Allow player to move on x axis
  TODO.md
  scenes/player.tscn
  scripts/player.gd
Due: prettier --check

Prevent player leaving playable area
  TODO.md
  scripts/player.gd
Due: prettier --check

Add bullet scene and script and randomise sprite
  TODO.md
  scenes/bullet.tscn
  scripts/bullet.gd
Due: prettier --check

Move bullet up
  TODO.md
  scenes/bullet.tscn
  scripts/bullet.gd
Due: prettier --check

Refactor player edge clipping
  scripts/player.gd
Due: none

Tidy up scripts
  scripts/bullet.gd
  scripts/player.gd
Due: none

Fire bullet on fire action pressed
  TODO.md
  project.godot
  scripts/bullet.gd
  scripts/player.gd
Due: prettier --check

Allow constant bullet fire with cooldown
  scripts/player.gd
Due: none

Allow quicker fire by tapping input
  scripts/player.gd
Due: none

Play fire sound on bullet instantiation
  TODO.md
  assets/audio/sfx/player_fire_0.aup3
  assets/audio/sfx/player_fire_0.wav
  assets/audio/sfx/player_fire_0.wav.import
  assets/audio/sfx/player_fire_1.aup3
  assets/audio/sfx/player_fire_1.wav
  assets/audio/sfx/player_fire_1.wav.import
  assets/audio/sfx/player_fire_2.aup3
  assets/audio/sfx/player_fire_2.aup3-wal
  assets/audio/sfx/player_fire_2.wav
  assets/audio/sfx/player_fire_2.wav.import
  scenes/bullet.tscn
  scripts/bullet.gd
Due: prettier --check

Fix `.gd` lint errors
  scripts/bullet.gd
  scripts/player.gd
Due: none

Lint/format `.gd` files
  .lintstagedrc.json
  package.json
Due: prettier --check, sort-package-json --check

Add `gdtoolkit` for linting and formatting
  poetry.lock
  pyproject.toml
Due: none

Add/update scripts to rule them all
  script/bootstrap
  script/setup
  script/test
  script/update
Due: none

Use `bunx` instead of `npx`
  .husky/pre-commit
Due: none

Add todo to change player node
  TODO.md
Due: prettier --check

Move a few consts to global script
  project.godot
  scripts/bullet.gd
  scripts/global.gd
  scripts/player.gd
Due: none

Add enemy scene and script
  TODO.md
  scenes/enemy.tscn
  scripts/enemy.gd
Due: prettier --check

Spawn enemy on main scene ready
  TODO.md
  main.tscn
  scripts/enemy.gd
  scripts/main.gd
Due: prettier --check

Add todo to change collision shape
  TODO.md
Due: prettier --check

Add/fix types
  scripts/bullet.gd
  scripts/enemy.gd
  scripts/player.gd
Due: none

Add enemy/bullet collision
  scenes/bullet.tscn
  scenes/enemy.tscn
  scenes/player.tscn
  scripts/bullet.gd
  scripts/enemy.gd
Due: none

Fix off screen logic
  scripts/bullet.gd
  scripts/enemy.gd
Due: none

Spawn new enemy every three seconds
  main.tscn
  scripts/main.gd
Due: none

Randomise time between enemy spawns
  main.tscn
  scripts/main.gd
Due: none

Update to do list
  TODO.md
Due: prettier --check

Remove duplicate namespacing
  scripts/bullet.gd
  scripts/enemy.gd
  scripts/main.gd
  scripts/player.gd
Due: none

Randomise enemy spawn height
  TODO.md
  scripts/enemy.gd
  scripts/main.gd
Due: prettier --check

Add enemy fire timer
  scenes/enemy.tscn
  scripts/enemy.gd
Due: none

Path conditions:
  prettier --check: (any of: *.md) or ((any of: *.json) or (any of: *.md))
  sort-package-json --check: any of: package.json
